/* ************ Reset Css  ************** */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}


/* ************ Css Variables ************** */

:root {
    --light: #fff;
    --dark: #000000;
    // --themeColor: #FCD117;
    --themeColor: #00A859;
    // --themeColorGreen: #00A859;
    --themeColorGreen: #FCD117;
    --lightYellow: #fff5c9;
    --pageBackgroundColor: #F5F5F5;
    --radius: 0.375rem;
    --border: rgba(0, 0, 0, 0.3);
}


/* ************ Custom Fonts ************** */

// @font-face {
//     font-family: darkFont;
//     src: url('Assets/Fonts/avantgarde-bk-bt/AVGARDD_2.TTF');
// }

// @font-face {
//     font-family: cursiveDark;
//     src: url('Assets/Fonts/avantgarde-bk-bt/AVGARDDO_2.TTF');
// }

// @font-face {
//     font-family: lightFont;
//     src: url('Assets/Fonts/avantgarde-bk-bt/AVGARDN_2.TTF');
// }

/* ************ Custom  ScrollBar ************** */

::-webkit-scrollbar {
    // width: 5px;
    display: none;
}

::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: transparent;
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;

}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background: #5c5b5b;
}

/* ************ Input placeholder ************** */
::placeholder {
    color: var(--border) !important;
    /* Firefox */
}

:-ms-input-placeholder {
    color: var(--border) !important;
    /* Internet Explorer 10-11 */
}

::-ms-input-placeholder {
    color: var(--border) !important;
    /* Microsoft Edge */
}

/* ************ Custom Classes ************** */

.container {
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width:"1450px") {
        max-width: 1050px;
    }

    @media screen and (max-width:"1100px") {
        margin: 0 20px;
    }
}

.cursor {
    cursor: pointer;
}

input {
    accent-color: var(--themeColorGreen);
}

.greenButton {
    max-height: 40px;
    height: 40px;
    width: 100%;
    background: var(--themeColorGreen);
    padding: 20px 35px;
    color: #fff;
    border-radius: var(--radius);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--themeColorGreen);

}


// Flex Properties
.flexLineSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

// ProgressBox
.progreesBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .progress {
        color: var(--themeColor) !important;
        height: 30px !important;
        width: 30px !important;
    }
}

// page headings's css
.heading {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 2px 5px rgba(81, 67, 21, 0.8);
}

.subHeading {
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(81, 67, 21, 0.8);
}

// Buttons
.greenBtn {
    max-height: 40px;
    height: 40px;
    min-width: 20px;
    width: 100%;
    background: var(--themeColorGreen);
    padding: 20px 35px;
    color: #fff;
    border-radius: var(--radius);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;


}

.inputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .name {
        font-weight: 600;
        font-size: 1.1rem;
    }
}

/* ************ ANT-Design ************** */
// ANT-D Input
.ant-input {
    border-color: var(--border) !important;
    padding: .5rem;

    &:hover {
        border-color: var(--themeColorGreen) !important;
    }

}

.ant-input-affix-wrapper {
    padding: 9px 20px !important;
    border-radius: var(--radius);
    border: 1px solid var(--border) !important;

    &:hover {
        border-color: var(--themeColorGreen) !important;
    }
}

.ant-input-affix-wrapper-focused {
    // box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
    box-shadow: none;
}

.ant-input:focus {
    box-shadow: none;
}

// ANT-D Selector
.ant-select-single {
    font-size: 14px !important;
    width: 100% !important;
}

.ant-select-selector {
    width: 100% !important;
    height: 42px !important;
    padding: 5px 20px !important;
    box-shadow: none !important;
    border-radius: var(--radius);
    border: 1px solid var(--border) !important;

    &:hover {
        border-color: var(--themeColorGreen) !important;
    }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: var(--lightYellow) !important;
}

// ANT-D Switch
.ant-switch.ant-switch-checked {
    background-color: var(--themeColorGreen) !important;
}

// ANT-D Date picker
.ant-picker {
    border: 1px solid var(--border) !important;

    &:hover {
        border-color: var(--themeColorGreen) !important;
    }
}

.ant-picker-active-bar {
    background-color: var(--themeColorGreen) !important;
}

// ANT-D popover
.antPopover {
    display: flex;
    flex-direction: column;
    gap: .5rem;


    .popoverItem {
        display: flex;
        color: #000000;
        gap: 0.4rem;
        border-radius: 5px;
        padding: 5px;
        align-items: center;
        cursor: pointer;

        .icon {
            height: 18px;
            width: 18px;
        }

        &:hover {
            background: rgb(221, 221, 221);
        }
    }

    .border {
        border-top: 1px solid rgb(139, 139, 139);
    }

}

// ANT-D icons
.anticon svg {
    fill: var(--themeColorGreen) !important;
    // fill: #fff !important;
}

// ANT Button
:where(.css-dev-only-do-not-override-1km3mtt).ant-btn-default:not(:disabled):hover {
    color: var(--light) !important;
    border-color: var(--themeColorGreen) !important;
}

// ANT-TAG Table :
.tableTag {
    text-transform: uppercase;
    width: 100px;
    text-align: center;
    font-size: .7rem;

}

.actionBox {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
    justify-content: center;
}

// ANT-D table 
.table {

    // row hover bg color 
    .ant-table-thead>tr>th {
        background-color: var(--lightYellow) !important;
        color: var(--themeColorGreen) !important;
    }

    // search field || button
    .custom-table .ant-input-search-button {
        background-color: var(--themeColor) !important;
        color: var(--themeColorGreen) !important;
        height: 35px !important;
    }

    .custom-table .ant-input-affix-wrapper {
        border: 1px solid var(--border) !important;
        border-radius: 5px !important;
        height: 35px !important;
        padding: 0px 10px !important;
        flex-grow: 1 !important;
    }

    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
        box-shadow: 0 0 0 2px #0064001f;
    }

    // row hover bg color 
    .ant-table-tbody>tr>td.ant-table-cell-row-hover {
        background-color: var(--lightYellow) !important;
    }

    // pagination button 
    .ant-pagination .ant-pagination-item-active a {
        color: var(--themeColorGreen) !important;

        &:hover {
            color: var(--themeColorGreen) !important;
        }
    }

    .ant-pagination-item-active {
        border-color: var(--themeColorGreen) !important;
    }

    .ant-table-wrapper .ant-table-column-sorter-up.active,
    .ant-table-wrapper .ant-table-column-sorter-down.active {
        color: var(--themeColorGreen) !important;
    }

}