.permissionsContainer {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .registerInput {
        width: 100%;
        border: 1px solid var(--border);
        padding: 12px 20px;
        border-radius: var(--radius);

        &:hover {
            border-color: var(--themeColorGreen);
        }
    }

    .permissions {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .heading {
            font-size: 18px;
            text-shadow: none;
        }

        .progreesBox {
            height: 250px;
        }

        .flexPermissions {
            height: 250px;
            overflow-y: scroll;
            gap: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;

            @media screen and (max-width:1450px) {
                height: 160px;
            }

            .permission {
                display: flex;
                gap: .5rem;
                align-items: center;

                .roles {
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }


    }

    .roleButton {
        padding-top: .5rem;

        .anticon svg {
            fill: #fff !important;
        }
    }
}