.caption-box {
    margin: 1rem;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(207, 206, 206);
    padding: 1rem;

    .caption-heading {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 0rem 0 1rem 0;
        border-bottom: 1px solid rgb(207, 206, 206);

        .icon {
            height: 18px;
            width: 18px;
        }
    }

    .input-filed {
        margin-top: 10px;

        .caption {
            margin-top: 10px;

        }
    }

    .p-preview {
        margin-top: 10px;

        .file-preview {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            border: 2px dashed rgb(216, 214, 214);
            padding: 1rem;
            gap: 1rem;
            border-radius: 5px;

            .imgBox {
                width: 100%;
                height: 100%;
                overflow: hidden;
                padding: .3rem;
                border-radius: 8px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

        }
    }

}

.ant-upload-list-item-error {
    border-color: var(--themeColor) !important;
}

.ant-upload.ant-upload-select:not(.ant-upload-disabled):hover {
    border-color: var(--themeColorGreen) !important;
}

:where(.css-dev-only-do-not-override-1km3mtt) a {
    color: var(--themeColorGreen) !important;
}

.ql-container .ql-snow,
.ql-editor .ql-blank {
    height: 110px !important;
}