.editor-box {
    margin: 1rem;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(207, 206, 206);
    padding: 1rem;

    .editor-heading {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 0rem 0 1rem 0;
        border-bottom: 1px solid rgb(207, 206, 206);

        .icon {
            height: 18px;
            width: 18px;
        }
    }

    .editor {
        margin-top: 1rem;
        border-radius: 5px;

        a {
            color: black !important;
            text-decoration: none;
        }

        .rdw-editor-toolbar {
            margin: 0 !important;
            display: flex !important;
            align-items: center !important;
            padding: 4px;
            background-color: #ebf2f8 !important;
        }

        .rdw-option-wrapper {
            background-color: #ebf2f8 !important;

        }

        .public-DraftStyleDefault-block {
            margin: 0.3em 0;
        }

        .rdw-editor-main {
            height: 100%;
            overflow: auto;
            box-sizing: border-box;
            padding: 0 0.5rem !important;
            min-height: 180px;

            &:focus-within {
                border: 1px solid rgb(36, 110, 172) !important;
            }
        }
    }

}
