.EditUserMainContainer {
    width: 80%;
    margin: auto;

    .EditUserTable {
        padding-top: 1rem;
    }

    .CommonHeadEditPage {
        padding-bottom: 1rem;
    }

    .CommonHeadingEditPage {
        padding-bottom: 0.4rem;
    }
    .EditPageButtons{
        display: flex;
        justify-content: flex-end;
    }
    .EditPagebtn {
        max-height: 40px;
        height: 40px;
        min-width: 20px;
        width: 6rem;
        background: var(--themeColorGreen);
        // padding: 20px 35px;
        color: #fff;
        border-radius: var(--radius);
        font-size: 14px;
        // display: flex;
        align-items: center;
        justify-content: center;
        border: none !important;
        margin-left: 10px;
    }
}